body,
html {
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    resize: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#canvas {
    border: 1px solid #222222;
}

#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 20px;
}

#menu h1 {
    font-size: 18px;
    font-weight: lighter;
    color: #222222;
}

#menu a {   
    font-size: 14px;
    font-weight: lighter;
    color: #6184d8;
    margin-top: 10px;
}